<div class="row align-items-center justify-content-center mt-3">
    <h6 class="col-lg-8">Booking information</h6>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Booking code</p>
    <p class="col-6 col-lg-4" id="bookingIDField">{{booking.id}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Check-in date</p>
    <p class="col-6 col-lg-4" id="bookingCheckInDateField">{{booking.strings.checkInDate}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Check-out date</p>
    <p class="col-6 col-lg-4" id="bookingCheckOutDateField">{{booking.strings.checkOutDate}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Number of guests</p>
    <p class="col-6 col-lg-4" id="bookingNumberOfGuestsField">{{booking.strings.guests}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Price</p>
    <p class="col-6 col-lg-4" id="bookingTotalPriceField">{{booking.strings.totalPrice}}</p>
</div>
<div class="row align-items-center justify-content-center mt-3">
    <h6 class="col-lg-8">Room types</h6>
</div>
<div class="row">
    <div class="container" id="roomRequestsContainer">
        {{#each booking.roomRequests}}
        <div class="row align-items-center justify-content-center mb-3">
            <img src="{{this.coverPhoto.source}}" class="col-6 col-lg-3" alt="{{this.coverPhoto.description}}">
            <p class="col-6 col-lg-4">{{this.name}} (<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>1)</p>
        </div>
        {{/each}}
    </div>
</div>
<div class="row align-items-center justify-content-center mt-3">
    <h6 class="col-lg-8">Guest information</h6>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">First name</p>
    <p class="col-6 col-lg-4" id="bookingGuestFirstNameField">{{booking.guest.firstName}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Last name</p>
    <p class="col-6 col-lg-4" id="bookingGuestLastNameField">{{booking.guest.lastName}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Email</p>
    <p class="col-6 col-lg-4" id="bookingGuestEmailField">{{booking.guest.email}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Phone number</p>
    <p class="col-6 col-lg-4" id="bookingGuestPhoneNumberField">{{booking.guest.phoneNumber}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Travelling for work</p>
    <p class="col-6 col-lg-4" id="bookingGuestTravelsForWorkField">{{booking.strings.guestTravelsForWork}}</p>
</div>
<div class="row align-items-center justify-content-center mt-3">
    <h6 class="col-lg-8">Billing address</h6>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Street</p>
    <p class="col-6 col-lg-4" id="bookingGuestAddressStreetField">{{booking.guest.address.street}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Street no.</p>
    <p class="col-6 col-lg-4" id="bookingGuestAddressStreetNoField">{{booking.guest.address.streetNo}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">City</p>
    <p class="col-6 col-lg-4" id="bookingGuestAddressCityField">{{booking.guest.address.city}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Postal code</p>
    <p class="col-6 col-lg-4" id="bookingGuestAddressPostalCodeField">{{booking.guest.address.postalCode}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Country</p>
    <p class="col-6 col-lg-4" id="bookingGuestAddressCountryField">{{booking.guest.address.country}}</p>
</div>
<div class="row align-items-center justify-content-center mt-3">
    <h6 class="col-lg-8">Extra options</h6>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Breakfast included</p>
    <p class="col-6 col-lg-4" id="bookingBreakfastIncludedField">{{booking.strings.breakfastIncluded}}</p>
</div>
<div class="row align-items-center justify-content-center">
    <p class="col-6 col-lg-3 text-secondary">Free cancellation included</p>
    <p class="col-6 col-lg-4" id="bookingFreeCancellationAllowedField">{{booking.strings.freeCancellationAllowed}}</p>
</div>