<header class="navbar navbar-expand-lg border-bottom">
    <div class="container-fluid justify-content-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mx-auto me-lg-3" href="/">
            <img src="{{hotel.logo.source}}" alt="{{hotel.logo.description}}" height="100">
        </a>
        
        <div class="offcanvas offcanvas-start" id="navbarSupportedContent">
            <div class="offcanvas-header justify-content-end">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Our Hotel
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Property</a></li>
                            <li><a class="dropdown-item" href="#">Location</a></li>
                            <li><a class="dropdown-item" href="#">Services</a></li>
                            <li><a class="dropdown-item" href="#">Experience</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Rooms
                        </a>
                        <ul class="dropdown-menu">
                            {{#each roomTypes}}
                            <li><a class="dropdown-item" href="#">{{this.name}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Gallery
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Offers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Contact
                        </a>
                    </li>
                </ul>
                {{#unless login}}
                {{#unless account}}
                <div class="d-flex">
                    <a href="/login" role="button" class="btn btn-outline-dark me-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle me-1" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        <span class="d-inline-block">Login</span>
                    </a>
                </div>
                {{/unless}}
                {{#if account}}
                <div class="dropdown">
                    <button class="btn btn-outline-dark me-3 dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if account.photo}}
                        <img src={{account.photo.source}} class="headerProfilePhotoImg me-1" alt="Profile picture">
                        {{/if}}
                        {{#unless account.photo}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle me-1" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        {{/unless}}
                        <span class="d-inline-block mx-1" id="accountDropdown">{{account.firstName}}</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end me-3">
                        <li><a class="dropdown-item" href="/profile">Account &amp; Bookings</a></li>
                        {{#if account.isAdministrator}}
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Administrator options</h6></li>
                        <li><a class="dropdown-item" href="/roomRack">Room rack</a></li>
                        <li><a class="dropdown-item" href="/manageHotel">Manage hotel</a></li>
                        {{/if}}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/doLogout">Logout</a></li>
                    </ul>
                </div>
                {{/if}}
                {{/unless}}
            </div>
        </div>
    </div>
</header>