<form action="/searchResults" method="get" id="searchForm">
    <div class="row px-0">
        <div class="col-lg-{{#if fromHome}}6{{/if}}{{#unless fromHome}}5{{/unless}} px-0 btn-group">
            <button id="daterange" type="button" class="btn btn-light">
                {{#if fromHome}}{{checkInDate}} &#8211; {{checkOutDate}}{{/if}}
                {{#unless fromHome}}{{originalCheckInDate}} &#8211; {{originalCheckOutDate}}{{/unless}}
            </button>
        </div>
        <div class="col-lg-4 px-0 btn-group {{#if fromHome}}dropup{{/if}}{{#unless fromHome}}dropdown{{/unless}}">
            <button id="guests" type="button" class="btn btn-light rounded-0" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                {{#if fromHome}}{{adultsCount}} &bull; {{childrenCount}} &bull; {{infantsCount}}{{/if}}
                {{#unless fromHome}}{{originalGuestsString}}{{/unless}}
            </button>
            <div class="dropdown-menu container border">
                <div class="row align-items-center justify-content-between">
                    <div class="col text-start ms-3 w-auto me-auto align-middle">
                        Adults: <div class="age-description text-secondary">(age: 12+)</div>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end me-3 my-1">
                        <button type="button" id="adultsCountMinus" class="btn btn-outline-primary d-flex align-items-center justify-content-center guests rounded-5 countButton" {{#if fromHome}}disabled{{/if}}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                        <p id="adultsCount" class="fw-semibold my-0 mx-3 text-center">{{#if fromHome}}1{{/if}}</p>
                        <button type="button" id="adultsCountPlus" class="btn btn-outline-primary d-flex align-items-center justify-content-center guests rounded-5 countButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col text-start ms-3 w-auto align-middle">
                        Children: <div class="age-description text-secondary">(age: 2-11)</div>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end me-3 my-1">
                        <button type="button" id="childrenCountMinus" class="btn btn-outline-primary d-flex align-items-center justify-content-center guests rounded-5 countButton" {{#if fromHome}}disabled{{/if}}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                        <p id="childrenCount" class="fw-semibold my-0 mx-3 text-center">{{#if fromHome}}0{{/if}}</p>
                        <button type="button" id="childrenCountPlus" class="btn btn-outline-primary d-flex align-items-center justify-content-center guests rounded-5 countButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col text-start ms-3 w-auto align-middle">
                        Infants: <div class="age-description text-secondary">(age: 0-1)</div>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end me-3 my-1">
                        <button type="button" id="infantsCountMinus" class="btn btn-outline-primary d-flex align-items-center justify-content-center guests rounded-5 countButton" {{#if fromHome}}disabled{{/if}}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                        <p id="infantsCount" class="fw-semibold my-0 mx-3 text-center">{{#if fromHome}}0{{/if}}</p>
                        <button type="button" id="infantsCountPlus" class="btn btn-outline-primary d-flex align-items-center justify-content-center guests rounded-5 countButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-{{#if fromHome}}2{{/if}}{{#unless fromHome}}3{{/unless}} px-0">
            <button id="search" type="submit" class="btn btn-primary w-100 h-100">
                Search
            </button>
        </div>
    </div>
    <input type="hidden" name="checkInDate" id="checkInDateForm1">
    <input type="hidden" name="checkOutDate" id="checkOutDateForm1">
    <input type="hidden" name="adultsCount" id="adultsCountForm1">
    <input type="hidden" name="childrenCount" id="childrenCountForm1">
    <input type="hidden" name="infantsCount" id="infantsCountForm1">
</form>