<main>
    <div id="introCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false"> 
        <div class="carousel-indicators">
            {{#each hotel.photos}}
            <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="{{@index}}" {{#if this.isActiveOnCarousel}}class="active" aria-current="true"{{/if}} aria-label="Photo {{@index}}"></button>
            {{/each}}
        </div>
        <div class="carousel-inner">
            {{#each hotel.photos}}
            <div class="carousel-item {{#if this.isActiveOnCarousel}}active{{/if}}">
                <img src="{{this.source}}" class="d-block w-100" alt="{{this.description}}">
            </div>
            {{/each}}
        </div>
        <div class="carousel-caption d-flex flex-column">
            <div class="px-4 py-5 my-5 text-center text-body bg-white rounded-4 border shadow-lg">
                <h1 class="fw-bold">{{hotel.name}}</h1>
                <p class="lead text-body-secondary fst-italic">{{hotel.tagline}}</p>

                <div class="container">
                    <div class="row">
                        <h1 class="fs-4 my-3 fw-medium">Book your stay!</h1>
                    </div>
                    <form action="/searchResults" id="searchForm">
                        {{>searchForm fromHome=1 checkInDate="Check-in date" checkOutDate="Check-out date" adultsCount="1 adult" childrenCount="0 children" infantsCount="0 infants"}}                        
                        <input type="hidden" name="checkInDate">
                        <input type="hidden" name="checkOutDate">
                        <input type="hidden" name="adultsCount">
                        <input type="hidden" name="childrenCount">
                        <input type="hidden" name="infantsCount">
                    </form>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#introCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#introCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>