<main>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-auto mb-3" id="profileColumn">
                <div class="card px-3 bg-secondary bg-gradient bg-opacity-10 shadow">
                    {{#if account.photo}}
                    <img src={{account.photo.source}} class="card-img-top mt-3 profilePhotoImg mx-auto" alt="Profile picture">
                    {{/if}}
                    {{#unless account.photo}}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="card-img-top bi bi-person-circle mt-3 profilePhotoImg mx-auto" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    {{/unless}}

                    <div class="card-body text-center">
                        <h5 class="card-title">{{account.firstName}} {{account.lastName}}</h5>
                        <h6 class="card-subtitle text-secondary">{{account.accountLevel.name}}</h6>
                        <button class="btn btn-primary mt-3" id="editProfileButton" data-bs-toggle="modal" data-bs-target="#profileModal">Edit profile</button>
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <h6>Ongoing bookings</h6>
                {{#if ongoingBookings.length}}
                <div class="accordion mb-4" id="ongoing">
                    {{#each ongoingBookings}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="booking-{{this.id}}-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#booking-{{this.id}}-collapse" aria-expanded="false" aria-controls="booking-{{this.id}}-collapse">
                                {{this.strings.checkInDate}} &#8211; {{this.strings.checkOutDate}} {{#if this.isCancelled}}<span class="cancelled ms-1">(cancelled)</span>{{/if}}
                            </button>
                        </h2>
                        <div id="booking-{{this.id}}-collapse" class="accordion-collapse collapse" aria-labelledby="booking-{{this.id}}-header" data-bs-parent="#ongoing">
                            <div class="accordion-body">
                                <div class="d-flex flex-column flex-lg-row justify-content-between">
                                    <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                                        <div class="text-secondary me-3">Booking code: {{this.id}}</div>
                                        <a href="/bookingConfirmation/{{this.id}}" target="_blank" class="link-primary">Open booking confirmation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
                {{#unless ongoingBookings.length}}
                <div class="mb-4">You have no ongoing bookings.</div>
                {{/unless}}

                <h6>Upcoming bookings</h6>
                {{#if upcomingBookings.length}}
                <div class="accordion mb-4" id="upcoming">
                    {{#each upcomingBookings}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="booking-{{this.id}}-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#booking-{{this.id}}-collapse" aria-expanded="{{#unless @index}}true{{/unless}}{{#if @index}}false{{/if}}" aria-controls="booking-{{this.id}}-collapse">
                                {{this.strings.checkInDate}} &#8211; {{this.strings.checkOutDate}} {{#if this.isCancelled}}<span class="cancelled ms-1">(cancelled)</span>{{/if}}
                            </button>
                        </h2>
                        <div id="booking-{{this.id}}-collapse" class="accordion-collapse collapse" aria-labelledby="booking-{{this.id}}-header" data-bs-parent="#upcoming">
                            <div class="accordion-body">
                                <div class="d-flex flex-column flex-lg-row justify-content-between">
                                    <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                                        <div class="text-secondary me-3">Booking code: {{this.id}}</div>
                                        <a href="/bookingConfirmation/{{this.id}}" target="_blank" class="link-primary">Open booking confirmation</a>
                                    </div>
                                    {{#unless this.isCancelled}}
                                    <div class="d-flex mt-3 mt-lg-0 align-items-center justify-content-center">
                                        <button type="button" id="booking-{{this.id}}-changeDatesButton" class="btn btn-warning changeDatesButton me-2" data-bs-toggle="modal" data-bs-target="#modal">Change dates</button>
                                        <button type="button" id="booking-{{this.id}}-cancelButton" class="btn btn-danger cancelBookingButton" data-bs-toggle="modal" data-bs-target="#modal">Cancel</button>
                                    </div>
                                    {{/unless}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
                {{#unless upcomingBookings.length}}
                <div class="mb-4">You have no upcoming bookings.</div>
                {{/unless}}

                <h6>Past bookings</h6>
                {{#if pastBookings.length}}
                <div class="accordion mb-4" id="past">
                    {{#each pastBookings}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="booking-{{this.id}}-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#booking-{{this.id}}-collapse" aria-expanded="false" aria-controls="booking-{{this.id}}-collapse">
                                {{this.strings.checkInDate}} &#8211; {{this.strings.checkOutDate}} {{#if this.isCancelled}}<span class="cancelled ms-1">(cancelled)</span>{{/if}}
                            </button>
                        </h2>
                        <div id="booking-{{this.id}}-collapse" class="accordion-collapse collapse" aria-labelledby="booking-{{this.id}}-header" data-bs-parent="#past">
                            <div class="accordion-body">
                                <div class="d-flex flex-column flex-lg-row justify-content-between">
                                    <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                                        <div class="text-secondary me-3">Booking code: {{this.id}}</div>
                                        <a href="/bookingConfirmation/{{this.id}}" target="_blank" class="link-primary">Open booking confirmation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
                {{#unless pastBookings.length}}
                <div class="mb-4">You have no past bookings.</div>
                {{/unless}}
            </div>
        </div>
    </div>
</main>

<!-- Modal template -->
<div class="modal fade" id="modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="modalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalMessage"></p>
                <p id="modalRefund"></p>
                <button id="daterange" type="button" class="btn btn-light w-100"></button>
                <div class="dateRangeContainer w-100 h-100"></div>
                <p id="modalActionWarning" class="fw-bold mt-3">This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="modalButton" data-bs-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>

<!-- Profile modal template -->
<div class="modal fade" id="profileModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <form action="" class="modal-content needs-validation" id="profileForm" novalidate>
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="profileModalLabel">Edit profile info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="fname" placeholder=" " name="user_fname" value="{{account.firstName}}" required>
                            <label for="fname">First name</label>
                            <div class="invalid-feedback">
                                Please provide a first name
                            </div>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="lname" placeholder=" " name="user_lname" value="{{account.lastName}}" required>
                            <label for="lname">Last name</label>
                            <div class="invalid-feedback">
                                Please provide a last name
                            </div>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="email" class="form-control" id="e-mail" placeholder=" " name="user_email" value="{{account.email}}" required>
                            <label for="e-mail">Email address</label>
                            <div class="invalid-feedback">
                                Please provide a valid email
                            </div>
                        </div>
                        <div class="form-floating mb-4" id="phone_container">
                            <input type="tel" class="form-control py-3" id="phone" name="user_phone">
                            <div class="invalid-feedback" id="phone_error_message">
                                Please provide a valid phone number
                            </div>
                        </div>
                        <div class="link-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Change password</div>
                    </div>
                    <div class="col-lg-4 d-flex flex-column align-items-center">
                        <div id="profilePhotoContainer">
                            {{#if account.photo}}
                            <img src={{account.photo.source}} class="card-img-top profilePhotoImg mt-3" alt="Profile picture">
                            {{/if}}
                            {{#unless account.photo}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="card-img-top bi bi-person-circle profilePhotoImg mt-3" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            {{/unless}}
                        </div>

                        <input type="file" id="fileInputHidden" accept="image/*">
                        <button type="button" class="btn btn-outline-dark my-3" id="fileInputVisible" name="photoInput">Upload photo</button>
                        <p id="fileSizeWarning">Max file size: 5MB</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="saveProfileButton">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="changePasswordModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal">
        <form action="" class="modal-content needs-validation" id="changePasswordForm" novalidate>
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="profileModalLabel">Change password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-4 password">
                            <input type="password" class="form-control" id="old_password" placeholder=" " name="old_password" required>
                            <label for="old_password">Old password</label>
                            <div class="invalid-feedback" id="oldPasswordFeedback">
                                Password is incorrect    
                            </div>
                        </div>
                        <div class="form-floating mb-4 password">
                            <input type="password" class="form-control" id="new_password" placeholder=" " name="new_password" required>
                            <label for="new_password">New password</label>
                            <div class="invalid-feedback">
                                Password must contain:
                                <ul id="passwordList">
                                    <li id="lengthMatch">8-32 characters</li>
                                    <li id="numberMatch">a number</li>
                                    <li id="lowerCaseMatch">a lower case letter</li>
                                    <li id="upperCaseMatch">an upper case letter</li>
                                    <li id="specialCharacterMatch">a special character</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-floating mb-4" id="repeat_div">
                            <input type="password" class="form-control" id="repeat_password" placeholder=" ">
                            <label for="repeat_password">Repeat new password</label>
                            <div class="invalid-feedback" id="repeat_password_message">
                                The passwords don't match
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#profileModal">Cancel</button>
                <button type="button" class="btn btn-success" id="changePasswordButton">Save</button>
            </div>
        </form>
    </div>
</div>

<script>
    const account = {{#if accountJSON}}JSON.parse(`{{accountJSON}}`.replaceAll("&quot;", "\"")){{/if}}{{#unless accountJSON}}null{{/unless}};
    const accountBookings = JSON.parse(`{{accountBookingsJSON}}`.replaceAll("&quot;", "\""));
</script>