<main>
    <div>
        <h1 class="text-center my-3 display-5">Room Rack</h1>
        <div class="container border rounded shadow my-3" id="roomRackContainer">
            <div class="d-flex align-items-center my-3">
                <button type="button" class="btn btn-light calendarControls mx-1" id="calendarButtonToday">Today</button>
                <button type="button" class="btn btn-light calendarControls mx-1" id="calendarButtonPrev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-light calendarControls mx-1" id="calendarButtonNext">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </button>
                <h4 class="ms-3 me-auto my-0" id="calendarCurrentMonth"></h4>
                {{!-- <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#loadingModal">Create booking</button> --}}
            </div>
            <div class="table-responsive m-lg-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center roomHeader p-0 pb-1"></th>
                            <th scope="col" class="text-center roomHeader p-0 pb-1 border-end"></th>
                            <th scope="col" class="text-center dayHeader p-0 pb-1">
                                <div>Monday</div>
                                <div></div>
                            </th>
                            <th scope="col" class="text-center dayHeader p-0 pb-1">
                                <div>Tuesday</div>
                                <div></div>
                            </th>
                            <th scope="col" class="text-center dayHeader p-0 pb-1">
                                <div>Wednesday</div>
                                <div></div>
                            </th>
                            <th scope="col" class="text-center dayHeader p-0 pb-1">
                                <div>Thursday</div>
                                <div></div>
                            </th>
                            <th scope="col" class="text-center dayHeader p-0 pb-1">
                                <div>Friday</div>
                                <div></div>
                            </th>
                            <th scope="col" class="text-center dayHeader p-0 pb-1">
                                <div>Saturday</div>
                                <div></div>
                            </th>
                            <th scope="col" class="text-center dayHeader p-0 pb-1">
                                <div>Sunday</div>
                                <div></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rooms}}
                        <tr id="room-{{this.number}}">
                            <th scope="row" class="p-0">{{this.number}}</th>
                            <th scope="row" class="text-secondary fw-light p-0 border-end">{{this.roomType.code}}</th>
                            <td class="p-0"></td>
                            <td class="p-0"></td>
                            <td class="p-0"></td>
                            <td class="p-0"></td>
                            <td class="p-0"></td>
                            <td class="p-0"></td>
                            <td class="p-0"></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="bookingModalLabel">Booking information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-lg text-center justify-content-center my-3">
                    <div class="text-start text-break">
                        {{>bookingConfirmationPartial}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cancelBookingButton" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal">Cancel booking</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="confirmationModalLabel">Booking cancellation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="confirmationModalInfoMessage"></p>
                <p id="confirmationModalRefundMessage"></p>
                <p id="modalActionWarning" class="fw-bold mt-3">This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#bookingModal">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirmationModalButton">Yes, cancel booking</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="loadingModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="spinner-grow" role="status"></div>
        <div class="spinner-grow" role="status"></div>
        <div class="spinner-grow" role="status"></div>
    </div>
</div>

<div class="modal" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="errorModalLabel">Could not move entry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">We couldn't move the entry to the requested room. Each booking can occupy a room only once.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    class Entry {
        constructor(booking, room, index) {
            this.booking = booking;
            this.room = room;
            this.index = index;
        }
    }

    const rooms = JSON.parse(`{{roomsJSON}}`.replaceAll("&quot;", "\""));
    const bookings = JSON.parse(`{{bookingsJSON}}`.replaceAll("&quot;", "\""));
    const allEntries = [];

    for (let booking of bookings) {
        for (let room of booking.roomOccupations) {
            allEntries.push(new Entry(booking, room, booking.roomOccupations.indexOf(room)));
        }
    }
</script>